body
{
    /*background-color: aqua;*/
    background-image: rgba(0, 0, 0, 0.5) url("ballon3.webp");
    background-size: cover;
}
h1
{
    color:red;
    text-align:center;
    font-size: 3em;
    font-weight:bold;
}
h2
{
    color:orange;
    text-align: center;
    font-size:2em ;
}
h3
{
    color:rgb(160, 25, 1);
    text-align: center;
    font-size: 1.5em;
}
ol
{
    color:rgb(55, 0, 255);
    text-align: center;
    font-size: medium;
}
p
{
    color:saddlebrown;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}
img
{
    text-align: center;
}