body

/* Fond de page en blue*/
    {
    background: rgb(0, 255, 242);
}

p

/* Parametre des paragraphe*/
    {
    color: black text-align: justitfy;
    /* Mode alignement justifié */
    font-size: 35px;
    /*Taille du texte de 25 pixels*/
    text-align: justify;
}

h1

/*Paramètres des titres de niveau 1*/
    {
    color: rgb(233, 14, 14);
    font-weight: bold;
    /*En gras*/
    font-size: 45px;
    /*Taille du texte de 25 pixels*/
    font-style: italic;
    /* En italic*/
    text-decoration-line: underline;
    text-align: center;
}

h2

/*Paramètres des titres de niveau 2*/
    {
    font-size: 40px;
    /*Taille du texte de 30 pixels*/
    font-style: italic;
    text-decoration-line: underline;
    text-align: center;
}

h3

/*Paramètres des titres de niveau 3*/
    {
    font-size: 2em;
    font-style: italic;
    color: rgb(255, 230, 0);
    text-align: center;
    text-decoration-line: underline;
}

h4

/*Paramètres des titres de niveau 4*/
    {
    font-size: 30px;
    font-style: italic;
    color: rgb(110, 12, 45);
    text-align: center;
    text-decoration-line: underline
}

ul

/*Paramètres de paragraphe*/
    {
    font-size: 25px;
    text-align: center;
}

#image
{
    text-align: center;
}