body 
{
	background:#7acdfd;
}
h1 
{
	color: rgb(236, 93, 165);
	text-align: center;
	border: 5px rgb(236, 115, 226) solid;
	border-radius: 0px;
	font-size: 3em;
}
h2
{
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}
h3
{
	color: rgb(0, 0, 0);
}
p
{
	text-align: justify;
	color: rgb(44, 113, 241);
	font-size: 150%;
	
}
li
{
	text-align: justify;
	font-size: 140%;
	color: rgb(44, 113, 241);
}

#image
{
	text-align: center;
}